---
BasedOnStyle: Microsoft
PointerAlignment: Left
IncludeBlocks: Regroup
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: true
    BeforeWhile: true
BinPackParameters: false
BinPackArguments: false
AlignOperands: DontAlign
AlignAfterOpenBracket: AlwaysBreak
TabWidth: 4
UseTab: ForIndentation
IndentCaseLabels: true
